{% extends "admindashboard/adminbaseindex.html" %}

{% block title %}Books Page{% endblock %}

{% block content %}
                        <h1 class="text-2xl font-medium text-gray-700 sm:text-3xl">Book List
</h1>

                        <div class="hidden mt-3 overflow-y-auto text-sm lg:items-center lg:flex whitespace-nowrap">
                            <a href="index.html#" class="text-gray-600 hover:underline">
                                Pages
                            </a>

                            <span class="mx-1 text-gray-500"> /
                            </span>

                            <a href="{% url 'admindashboard' %}" class="text-indigo-600 hover:underline">
                                    Dashboard
                            </a>
                            
                        </div>
                        
                    </div>
                    <!-- Right Content -->
                    
                </div>

                    <div class="mt-6">



<div class="flex flex-col mt-8">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
             
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                <div class="container mt-4">
        
                    <div class="row">
                        {% for book in books %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                {% comment %} <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Cover image" style="height: 200px; object-fit: cover;"> {% endcomment %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <p class="card-text">
                                        <strong>Author:</strong> {{ book.author.first_name }} {{ book.author.last_name }}<br>
                                        <strong>Genre:</strong> {{ book.genre.name }}<br>
                                        <strong>Availability:</strong> {{ book.get_availability_display }}<br>
                                    </p>
                                    <p class="card-text">{{ book.description|truncatewords:20 }}</p>
                                    <a href="{% url 'edit_book' book.id %}">Edit Book</a>
                                    <a href="{% url 'remove_book' book.id %}" class="btn btn-sm btn-danger ml-2" onclick="return confirm('Are you sure you want to remove this book?');">Remove</a>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                


            </div>
        </div>
    </div>
</div>

{% endblock %}