{% extends "admindashboard/adminbaseindex.html" %}

{% block title %}Books Page{% endblock %}

{% block content %}
                        <h1 class="text-2xl font-medium text-gray-700 sm:text-3xl">    Genre List
</h1>

                        <div class="hidden mt-3 overflow-y-auto text-sm lg:items-center lg:flex whitespace-nowrap">
                            <a href="index.html#" class="text-gray-600 hover:underline">
                                Pages
                            </a>

                            <span class="mx-1 text-gray-500"> /
                            </span>

                            <a href="{% url 'admindashboard' %}" class="text-indigo-600 hover:underline">
                                    Dashboard
                            </a>
                            
                        </div>
                        
                    </div>
                    <!-- Right Content -->
                    
                </div>

                    <div class="mt-6">


<div class="flex flex-col mt-8">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
             
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for genre in genres %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ genre.name }}</td>
                                
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No genres found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                


            </div>
        </div>
    </div>
</div>


{% endblock %}