<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="sign-in.html">
    <meta name="description" content="Awesome responsive dashboard build with Tailwind CSS &amp; AlpineJS.">
    
    <title>Meraki UI Dashboard </title>

    <link rel="stylesheet" href="assets/build/css/main.css%3Fid=338a33ffc2adb911c9d788d65d90e8a5.css">

    <link rel="icon" type="image/svg+xml" href="assets/images/logo.svg">

    <script defer src="assets/build/js/main.js%3Fid=7a85d29ed8f1e7869c43a8c9a7f4f6a1"></script>
</head>
<body>
    <div x-data="{ sidebarOpen: false }" class="relative text-gray-800 bg-white font-roboto">
        <main class="flex items-center flex-1 min-h-screen px-8 py-6 bg-white pattern">
            <div class="w-full max-w-sm mx-auto">
    <div class="text-center">
        <div class="flex items-center justify-center">
            <img class="w-auto h-12" src="assets/images/logo.svg" alt="">
        </div>

        <h1 class="mt-6 text-3xl font-semibold text-gray-700">Sign in</h1>
        
        <p class="mt-3 text-gray-500">Sign in to access your account</p>
    </div>

    <div class="mt-8">
        <form action="index.html">
            <div>
                <label for="email" class="block mb-2 text-sm text-gray-600">Email Address</label>
                <input type="email" name="email" id="email" placeholder="example@example.com" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-200 rounded-md focus:outline-none focus:ring focus:border-indigo-400 focus:ring-indigo-300 focus:ring-opacity-40" />
            </div>

            <div class="mt-6">
                <div class="flex justify-between mb-2">
                    <label for="password" class="text-sm text-gray-600">Password</label>
                    <a href="sign-in.html#" class="text-sm text-gray-400 focus:text-indigo-500 hover:text-indigo-500 hover:underline">Forgot password?</a>
                </div>

                <input type="password" name="password" id="password" placeholder="Your Password" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-200 rounded-md focus:outline-none focus:ring focus:border-indigo-400 focus:ring-indigo-300 focus:ring-opacity-40" />
            </div>

            <div class="mt-6">
                <button
                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-indigo-500 rounded-md hover:bg-indigo-400 focus:outline-none focus:bg-indigo-400 focus:ring focus:ring-indigo-300 focus:ring-opacity-50">
                    Sign in
                </button>
            </div>

            <p class="mt-6 text-sm text-center text-gray-400">Don&#x27;t have an account yet? <a href="sign-up.html" class="text-indigo-500 focus:outline-none focus:underline hover:underline">Sign up</a>.</p>
        </form>
    </div>
</div>
        </main>
    </div>
</body>
</html>
