{% extends "client/baseindexmember.html" %}

{% block title %}Book Description{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Select a Genre</h1>
        
        <div class="row g-3">
            {% for genre in genres %}
                <div class="col-md-3">
                    <a href="{% url 'books_by_genre' genre.id %}" class="btn btn-outline-primary w-100">
                        {{ genre.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}



