{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>Library Management System</title>
		 
        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
    </head>
	<style>
		.fixed-logo {
			display: inline-block; /* Ensure proper alignment */
			position: relative; /* Allows for positioning adjustments */
			top: -2px; /* Adjust the value to move the logo higher */
		}
		.static-logo {
			display: inline-block; /* Ensure proper alignment */
			position: relative; /* Allows for positioning adjustments */
			top: -55px; /* Adjust the value to move the logo higher */
		}
		.icon-size {
			width: 30px;  /* Adjust the width as needed */
			height: 30px; /* Adjust the height to maintain aspect ratio */
			}

		
		
		
		
	</style>
	
    <body class="yellow-skin">
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-transparent change-logo">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand static-logo" href="index.html#"><img 
								src="{% static 'assets/logo/logo-png-removebg-preview.png' %}" 
								class="logo" 
								alt="Logo" 
								style="height: 150px; width: 155px;" />
							  
							<a class="nav-brand fixed-logo" href="index.html#"><img 
								src="{% static 'assets/logo/logocrop.png' %}" 
								class="logo" 
								alt="Logo" 
								style="height: 35px; width: 180px;" />
							  
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li class="_my_prt_list"><a href="index.html#"><span>2</span>My List</a></li>
									<li><a href="index.html#" data-bs-toggle="modal" data-bs-target="#login"><i class="fas fa-user-circle fa-lg"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
								<li class="active"><a href="{% url 'home' %}">Home<span class="submenu-indicator"></span></a>
									
								</li>
								<li ><a href="{% url 'viewbooks' %}">Books<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="{% url 'viewbooks' %}">Book Page</a></li>
										<li><a href="{% url 'author_categorization' %}">Author Page</a></li>
										<li><a href="{% url 'tag_categorization' %}">Tag Page</a></li>
										<li><a href="{% url 'genre_categorization' %}">Genre Page</a></li>
										
									</ul>
								</li>
								
								<li><a href="{% url 'search_digital_books' %}">Digital Library<span class="submenu-indicator"></span></a>
									
										</li>
										
										<li><a href="{% url 'userviewprofile' %}">My Book Records<span class="submenu-indicator"></span></a>
											
										</li>
										<li><a href="{% url 'suggestions' %}">Suggestions<span class="submenu-indicator"></span></a>
											
										</li>



									</ul>
								</li>
								
								
								
							
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-right">
								
					
								<li class="add-listing">
									<a class="bg-danger" href="{% url 'profile'%}">
										{% if user.is_authenticated %}
											<span>{{ user }}</span>
											{% if user.gender == "male" %}
    											<img src="{% static 'assets/images/boy.png' %}" class="img-fluid mx-auto icon-size" alt="Boy Image" />
												{% endif %}

													{% if user.gender == "female" %}
														<img src="{% static 'assets/images/woman.png' %}" class="img-fluid mx-auto icon-size" alt="Woman Image" />

													{% endif %}
													<a href="{% url 'logout' %}">
												<i class="fas fa-sign-in-alt me-2"></i><span >Log Out</span>
											</a>
											
										{% else %}
										<a href="{% url 'login' %}" 		>
										
											<i class="fas fa-sign-in-alt me-2"></i><span class="dn-lg">Log In</span>
										</a>
										{% endif %}
									</a>
									
								</li>
								<li class="add-listing">
									<a href="{% url 'membernotifications' %}" title="Notification icons">
										<img src="{% static 'assets/images/notification.png' %}" alt="Notification Icon" class="icon-size" />
										
									</a>
								</li>
								
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero_banner" style="background:url({% static 'assets/img/Book_backgroungimage.jpg' %}) no-repeat;" data-overlay="4">
				<div class="container">
					
					<!-- <h1 class="big-header-capt mb-0">Search Your Next Home</h1>
					<p class="text-center">Find new & featured property located in your local city.</p> -->
					<!-- Type -->
					<!-- <div class="row justify-content-center mt-5">
						<div class="col-xl-10 col-lg-11 col-md-12">
							<div class="full_search_box nexio_search lightanic_search hero_search-radius modern">
								<div class="search_hero_wrapping">
							
									<div class="row">
										<div class="col-lg-4 col-md-3 col-sm-12">
											<div class="form-group">
												<label>City/Street</label>
												<div class="input-with-icon">
													<select id="location" class="form-control">
														<option value="">&nbsp;</option>
														<option value="1">New York City</option>
														<option value="2">Honolulu, Hawaii</option>
														<option value="3">California</option>
														<option value="4">New Orleans</option>
														<option value="5">Washington</option>
														<option value="6">Charleston</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<label>Property Type</label>
												<div class="input-with-icon">
													<select id="ptypes" class="form-control">
														<option value="">&nbsp;</option>
														<option value="1">All categories</option>
														<option value="2">Apartment</option>
														<option value="3">Villas</option>
														<option value="4">Commercial</option>
														<option value="5">Offices</option>
														<option value="6">Garage</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group none">
												<label>Price Range</label>
												<div class="input-with-icon">
													<select id="price" class="form-control">
														<option value="">&nbsp;</option>
														<option value="1">From 40,000 To 10m</option>
														<option value="2">From 60,000 To 20m</option>
														<option value="3">From 70,000 To 30m</option>
														<option value="3">From 80,000 To 40m</option>
														<option value="3">From 90,000 To 50m</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-lg-1 col-md-2 col-sm-12 small-padd">
											<div class="form-group none">
												<a href="index.html#" class="btn btn-danger full-width"><i class="fa fa-search"></i></a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div> -->
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->

			<!-- ============================ Our Awards Start ================================== -->
			<section class="p-0">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-11 col-lg-11 col-md-12">
						
							<div class="_awards_group">	
								<ul class="_awards_lists">
									<!-- single list -->
									<li>
										<div class="_awards_list_wrap">
											<div class="d-flex align-items-center">
												<div class="rats-thumb">
													<img src="{% static 'assets/img/trust.png' %}" class="img-fluid" width="70" alt="">
												</div>
												<div class="ploi ps-3">
												
													<div class="explio mt-1">
														<a href="{% url 'search_digital_books' %}"><p class="m-0 text-muted">Digital Library</p></a>
														
													</div>
												</div>
											</div>
										</div>
									</li>
									<!-- single list -->
									<li>
										<div class="_awards_list_wrap">
											<div class="d-flex align-items-center">
												<div class="rats-thumb">
													<img src="{% static 'assets/img/cap.png' %}" class="img-fluid" width="70" alt="">
												</div>
												<div class="ploi ps-3">
													
													<div class="explio mt-1">
														<a href="{% url 'userviewprofile' %}"><p class="m-0 text-muted">My Book Records</p></a>
													</div>
												</div>
											</div>
										</div>
									</li>

									
									<!-- single list -->
									<li>
										<div class="_awards_list_wrap">
											<div class="d-flex align-items-center">
												<div class="rats-thumb">
													<img src="{% static 'assets/img/clutch.png' %}" class="img-fluid" width="70" alt="">
												</div>
												<div class="ploi ps-3">
													
													<div class="explio mt-1">
														<a href= {% url 'suggestions' %}><p class="m-0 text-muted">Add Suggestions</p></a>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Our Awards End ================================== -->
			
			<!-- ============================ Property Category Start ================================== -->
			<section class="min">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Choose Your Category</h2>
								<p>Choose a category to explore, such as genre, authors, books, or tags, to discover relevant content tailored to your interests</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center mt-4">
					
						<!-- Single Category -->
						<!-- <div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="list-layout-with-sidebar.html">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-house text-info"></i>
										</div>
										<div class="_category_caption">
											<h5>Office & Studio</h5>
											<span>22 Properties</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						
						
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="list-layout-with-sidebar.html">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-house-circle-check text-warning"></i>
										</div>
										<div class="_category_caption">
											<h5>Industrial</h5>
											<span>22 Properties</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						
						
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="list-layout-with-sidebar.html">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-building text-success"></i>
										</div>
										<div class="_category_caption">
											<h5>Buildings</h5>
											<span>85 Properties</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						
						
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="list-layout-with-sidebar.html">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-house-crack text-purple"></i>
										</div>
										<div class="_category_caption">
											<h5>Commercial</h5>
											<span>79 Properties</span>
										</div>
									</div>
								</a>
							</div>
						</div>
						 -->
						<!-- Single Category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="{% url 'tag_categorization' %}">
								
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-house-fire text-seegreen"></i>
										</div>
										<div class="_category_caption">
											<h5>Tags</h5>
											
										</div>
									</div>
								</a>
							</div>
						</div>
						
						<!-- Single Category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="{% url 'author_categorization' %}">
								
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-igloo text-danger"></i>
										</div>
										<div class="_category_caption">
											<h5>Authors</h5>
											
										</div>
									</div>
								</a>
							</div>
						</div>
						
						<!-- Single Category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="{% url 'viewbooks' %}">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-house-laptop text-primary"></i>
										</div>
										<div class="_category_caption">
											<h5>Books</h5>
											
										
										</div>
									</div>
								</a>
							</div>
						</div>
						
						<!-- Single Category -->
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="_category_box">
								<a href="{% url 'genre_categorization' %}">
									<div class="_category_elio">
										<div class="_category_thumb">
											<i class="fa-solid fa-building-circle-check text-orange"></i>
										</div>
										<div class="_category_caption">
											<h5>Genre</h5>
											
										</div>
									</div>
								</a>
							</div>
						</div>
						
						
					</div>	
					
				</div>
			</section>
			<!-- ============================ Property Category End ================================== -->
			
	
			
		
			
			<!-- ============================ Property By Location ================================== -->
			<section>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Top Books By Reviews</h2>
								<p>"One of the best books I’ve ever read; it combines gripping storytelling with profound insights."</p>
							</div>
						</div>
					</div>
			
					<div class="row justify-content-center g-4">
						{% for review in top_reviews %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<a href="{% url 'book_detail' review.book.id %}" class="img-wrap">
								<div class="location_wrap_content visible">
									<div class="location_wrap_content_first">
										<h4>{{ review.book.title }}</h4>
										<span>By {{ review.book.author.name }}</span>
										<span>Rating: {{ review.rating }}/5</span>
									</div>
									<div class="location_btn"><i class="fa fa-arrow-right"></i></div>
								</div>
								<div class="img-wrap-background" 
									 style="background-image: url({{ review.book.cover_image.url }});">
								</div>
							</a>
						</div>
						{% empty %}
						<div class="col-lg-12">
							<p class="text-center">No reviews available at the moment.</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			
			<!-- ============================ Property By Location End ================================== -->
			
		

			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">
				<div class="footer-middle">
					<div class="container">
						<div class="row">
							
							<div class="col-lg-5 col-md-5">
								<div class="footer_widget">
									<img src="{% static 'assets/logo/logocrop.png' %}" class="img-footer small mb-4" alt="" />
									<h4 class="extream mb-3">"Managing books, connecting readers"</h4>
									<p>Efficiently managing books, resources, and readers for a seamless library experience.</p>
									
								</div>
							</div>
							
							<div class="col-lg-6 col-md-7 ms-auto">
								<div class="row">
								
									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">Layouts</h4>
											<ul class="footer-menu">
											

												<li><a href="{% url 'home'%}">Home Page</a></li>
												<li><a href="{% url 'about' %}">About</a></li>
												<li><a href="{% url 'profile' %}">Profile Page</a></li>
												<li><a href="{% url 'userviewprofile' %}">User Record Page</a></li>
								
											</ul>
										</div>
									</div>
											
									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">Book</h4>
											<ul class="footer-menu">
												<li><a href="{% url 'viewbooks' %}">Book Page</a></li>
												<li><a href="{% url 'author_categorization' %}">Author Page</a></li>
												<li><a href="{% url 'tag_categorization' %}">Tag Page</a></li>
												<li><a href="{% url 'genre_categorization' %}">Genre Page</a></li>
												<li><a href="{% url 'search_digital_books' %}">Digital Library</a></li>
												
											</ul>
										</div>
									</div>
							
								
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2024 BookVault. Designd By <a href="https://themezhub.com">BookVault</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-xl login-pop-form" role="document">
					<div class="modal-content overli" id="registermodal">
						<div class="modal-body p-0">
							<div class="resp_log_wrap">
								<div class="resp_log_thumb" style="background:url({% static 'assets/img/log.jpg' %})no-repeat;"></div>
								<div class="resp_log_caption">
									<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
									<div class="edlio_152">
										<ul class="nav nav-pills tabs_system center" id="pills-tab" role="tablist">
										  <li class="nav-item">
											<a class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" href="index.html#pills-login" role="tab" aria-controls="pills-login" aria-selected="true"><i class="fas fa-sign-in-alt me-2"></i>Login</a>
										  </li>
										  <li class="nav-item">
											<a class="nav-link" id="pills-signup-tab" data-bs-toggle="pill" href="index.html#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false"><i class="fas fa-user-plus me-2"></i>Register</a>
										  </li>
										</ul>
									</div>
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>User Name</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>Password</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1 form-check">
																<input id="dd" class="form-check-input" name="dd" type="checkbox">
																<label for="dd" class="form-check-label">Remember Me</label>
															</div>	
															<div class="eltio_k2">
																<a href="index.html#">Lost Your Password?</a>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-danger fw-medium full-width">Login</button>
													</div>
												
												</form>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>Full Name</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>Email ID</label>
														<div class="input-with-icon">
															<input type="email" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>Password</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1 form-check">
																<input id="dds" class="form-check-input" name="dds" type="checkbox">
																<label for="dds" class="form-check-label">By using the website, you accept the terms and conditions</label>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-danger fw-medium full-width">Register</button>
													</div>
												
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Send Message -->
			<div class="modal fade" id="autho-message" tabindex="-1" role="dialog" aria-labelledby="authomessage" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="authomessage">
						<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Drop Message</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group mb-3">
										<label>Subject</label>
										<div class="input-with-icons">
											<input type="text" class="form-control" placeholder="Message Title">
										</div>
									</div>
									
									<div class="form-group mb-3">
										<label>Messages</label>
										<div class="input-with-icons">
											<textarea class="form-control ht-80"></textarea>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn full-width fw-medium btn-danger">Send Message</button>
									</div>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="index.html#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/ion.rangeSlider.min.js' %}"></script>
		<script src="{% static 'assets/js/select2.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'assets/js/slick.js' %}"></script>
		<script src="{% static 'assets/js/slider-bg.js' %}"></script>
		<script src="{% static 'assets/js/lightbox.js' %}"></script>
		<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
		<script src="{% static 'assets/js/daterangepicker.js' %}"></script>
		<script src="{% static 'assets/js/custom.js' %}"></script>
		
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>