{% extends "libriarian/baseindex.html" %}

{% block title %}Books Page{% endblock %}

{% block content %}
                        <h1 class="text-2xl font-medium text-gray-700 sm:text-3xl">Dashboard
</h1>

                        <div class="hidden mt-3 overflow-y-auto text-sm lg:items-center lg:flex whitespace-nowrap">
                            <a href="index.html#" class="text-gray-600 hover:underline">
                                Pages
                            </a>

                            <span class="mx-1 text-gray-500"> /
                            </span>

                            <a href=" {% url 'librarian_dashboard' %}" class="text-indigo-600 hover:underline">
                                    Dashboard
                            </a>
                            
                        </div>
                        
                    </div>
                    <!-- Right Content -->
                    
                </div>

                    <div class="mt-6">




<section class="mt-6 space-y-6 xl:flex xl:space-y-0 xl:-mx-3">
    <div class="w-full p-4 bg-white rounded-lg shadow-sm xl:mx-3 xl:w-3/3 xl:p-6">
       
        <div class="container mt-4">
            <h2>Books Lost List</h2>
   
            
            <!-- Loop through the available books -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Member Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in issue %}
                    <tr>
                        <td>{{ i.book.title }}</td>
                        <td>{{ i.user.name }}</td>
                        <td>
                            <!-- Button to issue the book -->
                            <a href="{% url 'approve_lostbook_request' i.id %}" class="btn btn-success">Approve</a>
                     
                            {% comment %} <a href="{% url 'book:issue_book_action' book.id %}" class="btn btn-primary">Issue Book</a> {% endcomment %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No books available for issue.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden">
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                     
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                      


                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>
{% endblock %}


