{% extends "libriarian/baseindex.html" %}

{% block title %}Books Page{% endblock %}

{% block content %}
                        <h1 class="text-2xl font-medium text-gray-700 sm:text-3xl">   Dashboard
</h1>

                        <div class="hidden mt-3 overflow-y-auto text-sm lg:items-center lg:flex whitespace-nowrap">
                            <a href="index.html#" class="text-gray-600 hover:underline">
                                Pages
                            </a>

                            <span class="mx-1 text-gray-500"> /
                            </span>

                            <a href=" {% url 'librarian_dashboard' %}" class="text-indigo-600 hover:underline">
                                    Dashboard
                            </a>
                        </div>
                    </div>

                    <div class="mt-6">




<section class="mt-6 space-y-6 xl:flex xl:space-y-0 xl:-mx-3">
    <div class="w-full p-4 bg-white rounded-lg shadow-sm xl:mx-3 xl:w-3/3 xl:p-6">
        <h2 class="text-lg font-medium text-gray-700 capitalize sm:text-xl md:text-2xl">Approve Members</h2>
        
    
    
        <div class="flex flex-col mt-8">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-500 uppercase rtl:text-right">
                                        <span>USER NAMES</span>
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-left text-gray-500 uppercase rtl:text-right">
                                        <span>Action</span>
                                    </th>
                                   
                                </tr>
                            </thead>
                        
                            <tbody class="bg-white divide-y divide-gray-200">
                                {% for user in users %}
                                <tr>
                                    <td class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap">
                                        {{ user.name }}  <!-- Company Name (user name) -->
                                    </td>
                                    <td class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap">
                                     <a href="{% url 'approve_member' user.id  %} "> Approve  <!-- Company Name (user name) --><a/>
                                    </td>
                        
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>
{% endblock %}